# CAP MigrationTool
_out
*.db*
*.sqlite*
connection.properties
default-*.json
gen/
node_modules/
target/
srv/config/*.output.zip

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
.vscode
*.code-workspace
.idea
db/data/migrationtool-Tenants*.csv
temp/
dist/

# added by cds
.cdsrc-private.json

@cds-models
resources